body{
    display: flex;
    flex-direction: column;
    background-color: lightblue;

}

div{
    text-align: center;
}


.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
}

button{
    margin-left: 5px;
    margin-right:5px;
    padding: 5px;
    color: whitesmoke;
    background-color: brown;
}

.round{
    font-size: 20px;
}

.roundNum{
    font-size: 20px;
}
.winner{
    color: whitesmoke;
    background-color: brown;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.footer{
    display: flex;
    justify-content: center;
  
}

.wins{
  
    padding-left: 3px;
    padding-right: 3px;
    
}

.lose{
    margin-left: 2px;
   
   
    padding-left: 3px;
    padding-right: 3px;
    
}